.container-logomarca {
  display: block;
  margin: auto;
  width: 500px;
  height: 120px;
  position: relative;
  top: -60px;
  margin-bottom: 3rem;
  z-index: -1;
}

.logomarca{
  width: 100%;
  height: 150px;
}

.logout-button{
  transition: all .5s ease;
  display: inline-block;
  position: relative;
  align-items: center;
  height: 2rem;
  width: 100px;
  left: 90%;
  top: 30px;
  border-radius: 15px;
  outline: none;
  background-color: #135BE7;
  border: none;
  color: white;
  text-transform: uppercase;
}

.logout-button:hover {
  background-color: #12409b;

}

/* Estilo da barra de prompt */
.user-input input {
  position: relative;
  outline: none;
  border: none;
  border-bottom: 1px solid #135BE7;
  top: -80px;
  width: 1150px;
  height: 35px;
  font-size: 14px;
  margin: 0 auto;
  display: block;
  font-family: 'Montserrat', sans-serif;
}

/* Estilo botão de pesquisa */
.user-input button {
  position: relative;
  border: none;
  outline: none;
  height: 33px;
  width: 48px;
  left: 77.5%;
  bottom: 117px;
  background-color: transparent;
  cursor: pointer;
}

/* Estilo do ícone dentro do botão de pesquisa */
.search-icon {
  width: 33px;
  height: 33px;
}

/* Estilo quando a barra de input está em foco (usuário escrevendo prompt) */
.user-input input:focus {
  border: 1.5px solid #135BE7;
  border-radius: 10px;
  outline: none;
  background-color: #fafafa;
}

.output-area {
  position: relative;
  width: 100%;
  top: -80px;
  height: 710px;
}

.container {
  visibility: hidden;
  position: relative;
  left: 16rem;
  top: 3rem;
  width: 530px;
  height: 300px;
  border: 2px solid;
  border-radius: 10px;
  border-color: #2c69de;
  overflow: hidden;
  text-align: center;

}

.container button{
  background-color: #135BE7;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 30px;
  top: 50%;
  transform: translateY(375%);


  --c: #135BE7;
  /* the color */

  color: #0000;
  background:
    linear-gradient(90deg, #fff 50%, var(--c) 0) calc(100% - var(--_p, 0%)) / 200%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) no-repeat,
    var(--_c, #0000);
  -webkit-background-clip: text, padding-box, padding-box;
  background-clip: text, padding-box, padding-box;
  transition: 0s, color .5s, background-color .5s;

}

.container button:hover{

  color: #fff;
    --_c: var(--c);
    --_p: 100%;
    transition: 0.5s, color 0s .5s, background-color 0s .5s;

}