body {
    font-family: 'Poppins', sans-serif;
}


.background {
    position: relative;
    width: 32vw;

}

nav {
    display: flex;
    margin-left: 2rem;
    justify-content: space-between;
}


.loginBtn {
    background-color: #135BE7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: .5s;
    cursor: pointer;
    transition: .5s;
}

.loginBtn:hover {
    background-color: #0649d1;
    scale: 1.05;
    transition: .5s;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items li {
    padding-left: 20px;
    margin-right: 2rem;
    scale: 1.3;
}

.nav-items li a {
    text-decoration: none;
    color: black;
}


.intro {
    font-size: larger;
    display: flex;
    position: relative;
    margin-left: 2rem;
}

.textContainer {
    width: 70%;
    margin-top: 6.5rem;
}


.imgContainer {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: right;
    position: relative;
    right: 16.5%;
}


h2 {
    line-height: 1rem;
}

p {
    line-height: 5px;
}

form input{
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: 10px 0;
    width: 15%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button{
    font-family: 'Poppins', sans-serif;
    background-color: #135BE7;
    width: 15%;
    color: white;
    display: block;
    margin: 10px 0;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: .5s;
}

form button:hover{
    background-color: #0649d1;
    scale: 1.05;
    transition: .5s;
}

#subhead1 {
    font-size: 1.5rem;
    text-align: center;
}

#subhead2 {
    font-size: 1.5rem;
    text-align: center;
}

.demo {
    margin-left: 2rem;
}

#demo01gif {
    scale: 0.75;
}

#demo02gif {
    scale: .75;
}

#demo03gif {
    scale: .75;
}