.logomarca {
  display: flex;
  justify-content: center;
  position: relative;
  top: 25px;
  margin-bottom: 3rem;
  z-index: -1;
}

/* Estilo da barra de prompt */
.user-input input {
  position: relative;
  outline: none;
  border: none;
  border-bottom: 1px solid #135BE7;
  top: 5px;
  width: 1150px;
  height: 35px;
  font-size: 14px;
  margin: 0 auto;
  display: block;
  font-family: 'Montserrat', sans-serif;
}

/* Estilo botão de pesquisa */
.user-input button {
  position: relative;
  border: none;
  outline: none;
  height: 33px;
  width: 48px;
  left: 77.5%;
  bottom: 32px;
  background-color: transparent;
}

/* Estilo do ícone dentro do botão de pesquisa */
.search-icon {
  width: 33px;
  height: 33px;
}

/* Estilo quando a barra de input está em foco (usuário escrevendo prompt) */
.user-input input:focus {
  border: 1.5px solid #135BE7;
  border-radius: 10px;
  outline: none;
  background-color: #fafafa;
}

/* Estilo container do botão de add widget */
.container {
  position: relative;
  left: 16rem;
  top: 3rem;
  width: 530px;
  height: 300px;
  border-radius: 10px;
  background-color: #f0f0f0;
}