{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Lens</title>
    <link rel='icon' type='image/x-icon' href=" {% static 'media/favicon.png' %}"></link>
    
    <!-- Fonte Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <!-- /Fonte Montserrat -->

    <link rel="stylesheet" href=" {% static 'css/home.css' %}">
</head>

<body>
    <div class="container-logomarca">
        <img src="{% static 'media/powerlens.svg' %} " alt="logomarca-powerlens" class='logomarca'>
    </div>
    <div class="user-input">
        <input type="text" placeholder="Digite sua pesquisa...">
        <button class="search-button">
            <img src="{% static 'media/search-icon.png' %}" alt="botão de pesquisa" class="search-icon">
        </button>
    </div>
    <div class="output-area">
        <div class="container"></div>
    </div>
</body>

</html>