{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Lens</title>
    <link rel='icon' type='image/x-icon' href=" {% static 'media/favicon.png' %}"></link>
    
    <!-- Fonte Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <!-- /Fonte Montserrat -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href=" {% static 'css/home.css' %}">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{% static 'js/grafico.js' %}"></script>

</head>

<body onload="dragElement('container')">
    <form action="{% url 'logout' %}" method="POST">{% csrf_token %}
        <button class="logout-button">Sair</button>
    </form>
    <div class="container-logomarca">
        <img src="{% static 'media/powerlens.svg' %} " alt="logomarca-powerlens" class='logomarca'>
    </div>
    <div class="user-input">
        <input type="text" placeholder="Digite sua pesquisa...">
        <button class="search-button">
            <img src="{% static 'media/search-icon.png' %}" alt="botão de pesquisa" class="search-icon">
        </button>
    </div>
    <div class="output-area">
        <div id ="container" class="container"></div>
</body>

</html>